@model JobFixa.Entities.JobListing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobListing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateClosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employer.EmployerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
